In [33]:
import pandas as pd
import numpy as np

import sqlite3

In [25]:
conn = sqlite3.connect('./data/final.db')
cur = conn.cursor()

In [26]:
def fetch_table_names(cur: sqlite3.Cursor) -> [str]:
    '''
    Retrieves all tables in the database
    '''
    
    cur.execute('SELECT name FROM sqlite_master WHERE type = \'table\';')
    return [x[0] for x in cur.fetchall()]

def fetch_column_names(cur: sqlite3.Cursor, table: str) -> [str]:
    '''
    Retrieves all columns in a table
    '''
    
    cur.execute('PRAGMA table_info(' + table + ');')
    return [x[1] for x in cur.fetchall()]

def fetch_col_values(cur: sqlite3.Cursor, table: str, col: str) -> []:
    '''
    Returns all values for a specific column
    '''
    
    cur.execute('SELECT ' + col + ' FROM ' + table + ';')
    return [x[0] for x in cur.fetchall()]

In [27]:
fetch_table_names(cur)

['SCHOOL_TRAIN', 'SCHOOL_TEST', 'POKEMON_TRAIN', 'POKEMON_TEST']

In [54]:
train_cols = fetch_column_names(cur, 'POKEMON_TRAIN')
train_cols

['rowid',
 'unique_id',
 'types',
 'abilities',
 'base_happiness',
 'height_m',
 'weight_kg',
 'poke_stats',
 'is_legendary']

In [55]:
test_cols = fetch_column_names(cur, 'POKEMON_TEST')
test_cols

['rowid',
 'unique_id',
 'types',
 'abilities',
 'base_happiness',
 'height_m',
 'weight_kg',
 'poke_stats']

# Create train and test set

In [56]:
train, test = pd.DataFrame(columns=train_cols), pd.DataFrame(columns=test_cols)
train.shape, test.shape

((0, 9), (0, 8))

In [57]:
for c in train_cols:
    train[c] = fetch_col_values(cur, 'POKEMON_TRAIN', c)
for c in test_cols:
    test[c] = fetch_col_values(cur, 'POKEMON_TEST', c)

In [59]:
train.shape, test.shape

((520, 9), (281, 8))

In [60]:
train.sample(5)

,rowid,unique_id,types,abilities,base_happiness,height_m,weight_kg,poke_stats,is_legendary
284,285,421,"water, nan","['Swift Swim', 'Water Veil', 'Lightningrod']",None,1.3,39.0,"nan, 92.0, 65.0, 65.0, 80.0, 68.0",0
121,122,545,"grass, dark","['Chlorophyll', 'Early Bird', 'Pickpocket']",70.0,1.0,28.0,"nan, 70.0, 40.0, nan, 40.0, 60.0",0
472,473,397,"poison, dark","['Stench', 'Aftermath', 'Keen Eye']",70.0,0.4,19.2,"nan, 63.0, 47.0, 41.0, 41.0, 74.0",0
61,62,66,"ice, nan","['Clear Body', 'Ice Body']",None,1.8,175.0,"nan, nan, nan, 100.0, 200.0, 50.0",1
188,189,351,"electric, steel","['Magnet Pull', 'Sturdy', 'Analytic']",70.0,1.0,60.0,"50, 60.0, 95.0, 120.0, 70.0, 70.0",0

In [61]:
test.sample(5)

,rowid,unique_id,types,abilities,base_happiness,height_m,weight_kg,poke_stats
229,230,741,"ghost, nan","['Pressure', 'Frisk']",35.0,1.6,30.6,"40, 70.0, 130.0, 60.0, 130.0, 25.0"
90,91,153,"bug, fighting",['Beast Boost'],0.0,2.4,333.6,"nan, 139.0, 139.0, 53.0, 53.0, 79.0"
275,276,463,"dragon, flying",['Air Lock'],0.0,7.0,206.5,"nan, nan, 100.0, 180.0, nan, 115.0"
46,47,144,"flying, dragon","['Frisk', 'Infiltrator', 'Telepathy']",70.0,0.5,8.0,"nan, 30.0, nan, 45.0, nan, 55.0"
179,180,256,"water, psychic","['Dazzling', 'Strong Jaw', 'Wonder Skin ']",70.0,0.9,19.0,"nan, nan, 70.0, 70.0, 70.0, 92.0"

# Save files as csv

In [62]:
train.to_csv('./data/raw_train.csv', index=False)
test.to_csv('./data/raw_test.csv', index=False)